/* Override some defaults */
html, body {
  background-color: #eee;
}
body {
  padding-top: 20px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
.container {
  width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}


/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}




h2 {font-size:20px;}

.categories {
  margin:0px;
}
.categories li {
  list-style-type:none;
  border-bottom:1px solid #ddd;
}

.categories a {
  display:block;
  padding:8px;
}
.categories a:link, .categories a:visited {
  color:#000;
}
.categories a:hover {
  text-decoration:none;
  background:#eee;
}
.categories a.active {
  color:green;
  font-weight:bold;
  background:#eee;
}

.product {
  margin:20px 0 0 0;
  height:160px;
  border-bottom:1px dotted #ddd;
}
.last {
  border:none;
}
.product img {
  float:left;
}
.product .details {
  float:right;
  width:400px;
  padding:0 40px 0 0;
}
.product .buttons {
  padding:10px 0 0 0;
}

.required, .sale {
  color:red;
}